<div style="margin-bottom: 100px;">
	
	<!-- <div> -->
		<label>decrypt key/keys for decrypting message</label>
		<input type="text" ng-model="decryptKey" style="width: 45%;" />
	<!-- </div> -->
	<hr>
</div>
	
	<div style="width: 100%; position: fixed; top: 110px; bottom: 70px; overflow: scroll; 
	  overflow-x: hidden; margin-top: 20px;">
			<div ng-repeat="msg in msgArray" style="padding-left: 20px; margin-top: 8px;">
			{{msg.send | date: 'yyyy/MM/dd HH:mm.ss'}} {{msg.msg | decrypt:decryptKey}} 
			<input type="button" ng-click="removeMsg(msg.$id)" value="remove" style="margin-left: 15px; margin-bottom: 8px;">
			<hr style="margin-left: -20px;">
			</div> 
	</div>

<div style="width: 100%; position: fixed; bottom:10px; left:0; background: #ffffff; ">
<div style="margin-bottom: 12px;">
	<label>crypto key for crypting message: </label>
	<input type="password" ng-model="cryptKey" />
	{{cryptKey}} 
</div>

	<input type="text" ng-model="message" style="width: 45%;" />
	<input type="button" ng-click="cryptMsg(message, cryptKey)" value="send msg" />
<!-- <div> -->
	<!-- {{e}} <input ng-if="e !== undefined && e !== '' " type="button" ng-click="decryptMsg(e, cryptKey)" value="decrypt">
	{{dec }} -->
<!-- </div> -->
</div>

 


