<div>
	
	<!-- <div> -->
		<label>decrypt key/keys for decrypting message</label>
		<input type="text" ng-model="decryptKey" style="width: 45%;" />
	<!-- </div> -->
	<hr>
	<ul>
		<li ng-repeat="msg in msgArray" style="list-style-type: none; margin: 8px; border-bottom: 1px solid #fff111;">
		{{msg.msg | decrypt:decryptKey}} 
		<input type="button" ng-click="removeMsg(msg.$id)" value="remove" style="margin-left: 15px; margin-bottom: 8px;">
		</li> 
	</ul>
	<hr>
</div>

<div>
	<label>crypto key for crypting messaga</label>
	<input type="password" ng-model="cryptKey" />
	{{cryptKey}} 
</div>

<div>
	<input type="text" ng-model="message" style="width: 45%;" />
	<input type="button" ng-click="cryptMsg(message, cryptKey)" value="send msg" />
</div>

 

<div>
	{{e}} <input ng-if="e !== undefined && e !== '' " type="button" ng-click="decryptMsg(e, cryptKey)" value="decrypt">
	{{dec }}
</div>

