<nav-menu>
</nav-menu>
<div class="container" style="position: relative; top: 32px; z-index: 80; margin-bottom: 120px;">
    <div ng-repeat="msg in msgArray" style="padding-left: 20px; margin-top: 8px;">
        <span style="margin-left: -20px; font-weight: bold; padding-right: 12px;">{{msg.send | date: 'dd/MM'}}</span> <div style="text-overflow: ellipsis; overflow:hidden; width:100%;"> {{msg.msg | decrypt:decryptKey}}</div> {{msg.send | date: 'HH:mm.ss'}}
        <span ng-if="$last" id="lastmsg"> {{::scrollToLastMsg()}} </span>
        <i class="fa fa-trash-o close" ng-click="removeMsg(msg.$id)"></i>
        <hr ng-hide="$last" style="margin-left: -20px; padding-left: -20px; border-color: red; ">
    </div>
</div>

<div class="container" style="position: fixed; width:100%; bottom: 0; background: lightgray; z-index: 100;">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-lg-11">
            <div class="form-group ">
                <input class="form-control" type="text" ng-model="message" placeholder="write message" ng-keydown="$event.which == 13 && sendCryptMsg(message, cryptKey)" />
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-1">
            <div class="form-group">
                <button class="btn btn-primary form-control" ng-click="sendCryptMsg(message, cryptKey)"> 
                <i class="glyphicon glyphicon-send"></i></button>
            </div>
        </div>
    </div>
</div>
