<div class="menu-bar">
<span style="margin-left: 10px;">scroll {{scrollEnabled ? 'on': 'off'}}</span>
    <a class="menu-toggle toggle-me" ng-click="showMenu = !showMenu" ng-show="!showMenu">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
</div>

<nav class="menu" ng-class="showMenu ? 'open' : ''">
    <ul>
        <li>
            <a ng-click="showMenu = !showMenu">CLOSE 
                <i class="glyphicon glyphicon-remove pull-right"></i>
            </a>
        </li>
        <li>
            <a ng-click="setAutoScroll()">auto scroll {{scrollEnabled ? 'on': 'off'}}
                <i class="pull-right" ng-class="scrollEnabled ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
            </a>
        </li>
        <li ng-class="(cryptKey === undefined  || cryptKey === '' )? 'disabled' : ''">
            <a ng-click="cryptEnabled = !cryptEnabled">message cryption {{cryptEnabled ? 'on': 'off'}}
                <i class="pull-right" ng-class="cryptEnabled  ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
            </a>
        </li>
        <li><a >select cryption key </a></li>
        <li><a ng-click="openCryptoKeys()">crypto keys</a></li>
    </ul>
</nav>
