<div class="menu-bar">
    <a class="menu-toggle toggle-me" ng-click="showMenu = !showMenu" ng-show="!showMenu">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
</div>

<nav class="menu" ng-class="showMenu ? 'open' : ''">
    <ul>
        <li>
            <a ng-click="showMenu = !showMenu">CLOSE 
                <i class="glyphicon glyphicon-remove pull-right"></i>
            </a>
        </li>
        <li>
            <a ng-click="setAutoScroll()">auto scroll {{scrollEnabled ? 'on': 'off'}}
                <i class="pull-right" ng-class="scrollEnabled ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
            </a>
        </li>
        <li><a ng-click="openCryptoKeys()">crypto keys</a></li>
        <li>&nbsp; <b>decryption keys in use:</b></li>
        <li ng-repeat="key in keysInchain">
        <a ng-class="key.use === true ? 'cryptokey-highlight' : ''" ng-click="useAtCryption(key)">{{key.id}}
        </a></li>
    </ul>
</nav>
